.cabecalho{
    align-items: center;
    background: var(--roxoClaro);
    box-sizing: border-box;
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding: 10px 30px;
    width: 100%;
}

.logo{
    width: 120px;
}

.nav-lista{
    display: flex;
    list-style: none;
}

.nav-lista-item{
    margin: 0 25px 0 0;
    transition: 0.3s all ease-in-out;
}

.nav-lista-item:last-child{
    margin: 0;
}

.nav-lista-item-link{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.nav-lista-item:hover{
    transform: scale(1.1);
}

.drop-down{
    display: none;
    cursor: pointer;
    width: 120px;
}

@media screen and (max-width:680px) {
    .cabecalho{
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 15px 0;
        height: auto;
        transition: 0.5s;
    }
    .logo{
        display: none;
    }
    .nav-lista{
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 20px 0 0 0;
    }
    .nav-lista-item{
        margin: 0;
        -webkit-tap-highlight-color: transparent;
        display: none;
    }
    .drop-down{
        display: block;
        transition: 1s;
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
    }
};