.vida-academica{
    background: var(--roxoClaro);
    border: 1px solid var(--roxoClaro);
    box-sizing: border-box;
    padding: 3rem 0;
    width: 100%;
}

.cont-vida-acad{
    width: 95%;
    margin: 0 auto;
}

.titulo-acad{
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    margin: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itens-acad{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.item-acad{
    background: #fff;
    width: 20%;
    max-width: 300px;
    height: 400px;
    border-radius: 10px;
    padding: 5px;
    color: var(--roxoClaro);
    text-transform: uppercase;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    box-sizing: border-box;
}

.item-acad:hover{
    transform: scale(0.95);
}

.item-acad-detalhe{
    border-top: 1rem;
    width: 100%;
}

.img-item-acad{
    border-radius: 1rem;
    width: 80%;
}

.titulo-item-acad{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.item-acad-status{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: bold;
    width: 100%;
}


@media screen and (max-width:680px) {
    .itens-acad{
        flex-direction: column;
    }
    .item-acad{
        width: 100% !important;
        height: 400px !important;
        margin: 20px 0;
    }
}

@media screen and (max-width:980px) {
    .item-acad{
        width: 150px;
        height: 320px;
    }
    .titulo-item-acad{
        font-size: 1.25rem;
    }
}